<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="content"><%= entry.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
  <span class="timestamp"><%= pluralize(entry.comments.count, "comment")%></span>
  <% if logged_in? %>
    <% if (current_user?(entry.user) || current_user.followers.include?(entry.user)) %>
      <span class="timestamp"><%= link_to "Write comment", entry%></span>
    <% end %>
  <% end %>
</li>