<%= form_for [entry, entry.comments.build] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Give your comment" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <%= f.submit (t"_entry_form_btn"), class: "btn btn-primary" %>
<% end %>